<div class="container-fluid row search">
  <%= render 'site/search' %>
</div>
<%= paginate @collectionobjects, :window => 1 %>
<h3 class="text-center"><%= t('collectionobjects.page_title') %></h3>
<div class="container-fluid row records">
  <%= render 'records' %>
</div>