<div class="container-fluid row search">
  <%= render 'site/search' %>
</div>
<h3 class="text-center">Cataloging records</h3>
<div class="container-fluid row records">
  <%= render 'records' %>
</div>