<nav>
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="http://www.collectionspace.org"><%= t('ui.home') %></a></li>
    <li><a href="#"><%= t('ui.about') %></a></li>
    <li><a href="#"><%= t('ui.contact') %></a></li>
  </ul>
</nav>