<%= form_tag("/search", method: "get", class: 'form-inline') do %>
  <div class="form-group">
    <%= select_tag(:field, options_for_select(get_searchable_attributes_for_select, get_searchable_attribute_default), class: 'form-control') %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= text_field_tag(:query, nil, placeholder: query_placeholder_text, class: "form-control search-terms") %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
<% end %>